<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DolEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DolEditor.Properties.Settings.onlineConnectionString"
            connectionString="Id=DolEditor.Properties.Settings.Default.Username;port=DolEditor.Properties.Settings.Default.PortNumber;password=DolEditor.Properties.Settings.Default.Password;database=DolEditor.Properties.Settings.Default.DatabaseName;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <DolEditor.Properties.Settings>
            <setting name="ServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="OriginsSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="PortNumber" serializeAs="String">
                <value>3306</value>
            </setting>
        </DolEditor.Properties.Settings>
    </userSettings>
</configuration>